.SignIncontainer{
    display: inline-block;
    padding: 5%;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

.SigninImage{
    display: flex;
    margin: 0 auto;
    margin-right: 5%;
    margin-left: 10%;
}


.SigninContainer{
    display: flex;
    background-color: rgba(220, 220, 220, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 600px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.SigninContainer div {
    background: transparent;
    border: none;
    padding:10px 0px 5px;
    width:100%;
    font-size: 14px;
    font-weight: 600;
}


.SigninContainer input {
    border: none;
    border-radius: 10px;
    display: flex;
    width: 100%; /* 입력 필드의 너비를 100%로 설정 */
    padding: 15px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

.SignInGender{
    display: flex;
    align-items:left;
}

.SignInGender input[type='radio']{
    transform: scale(1.2);
    margin: 0px;
}

.SignInButton {
    border : 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 20px 30px; 
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
}

.SignInButton:hover {
    background: black;
    color: white;
}


.button_contain{
    gap: 10px;
    display: flex;
    justify-content: center;
}