.login-modal {
    width: 500px;
    height: 600px;

    display: flex;

    justify-content: center;
    flex-direction: column;

    padding-left: 40px;
    font-size: 2em;
}

.login-modal.customer {
    background-color: rgb(203, 199, 65);
}

.login-modal.seller {
    background-color: rgb(27, 102, 136);
}

.login-modal svg {
    width: 1em;
    height: 1em;
}
