:root {
    --primary-color: hsl(327, 59%, 63%);
    --secondary-color: #999D6B;
    --complimentary-color: #88BFB5;
    --contrast-color: #4D3A33;
    --light-color: #EDDDC7;
    }

body{
    background-color: #f2f3f4;
    font-style: normal;
}
    
.MainItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Title {
    font-size: 1.5em;
}

table {
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
    border-collapse: collapse;
    width: 150vh;
    margin: 1rem auto;
    background-color: white;
}

th {
    font-weight: normal;
    vertical-align: middle;
    padding: 7px;
    padding-left: 15px;
    border-bottom: 3px solid #ededed;
    text-align: left;
}
td {
    font-weight: normal;
    vertical-align: middle;
    padding: .75rem 1rem .75rem;
    text-align: left;
    
}
tbody tr {
    &:hover{
        background-color: #f8f6f2;
    }
}

#details {
    text-align: right;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ededed;
}

#title {
    font-weight: bold;
    padding: 10px;
}

#right {
    align-items: right;
}