.product-detail-container {
    display: flex;
    justify-content:center;
    padding: 20px;
  }
  
  .product-image {
    width: 400px;
    height: 400px;
    border: 10px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-content: center;
  }

  .product-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  
  .product-info {
    font-size: 14pt;
    font-weight: bold;
    width: 600px;
    
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    
    justify-content: center;
    background-color: white;
  }
  
  .product-info h1 {
    margin-bottom: 25px;
    font-size: 18pt;
    font-family: 'NanumBarunGothicBold';
    border-bottom: 1px solid #ccc;
    gap: 10px;
  }
  
  .product-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-info li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .product-info li select {
    justify-content: space-between;
    margin-left: 5px;
  }
  
  .product-info li button {
    width: 50px;
    margin: 5 5px;
  }
  
  .product-info .buy-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .product-info .buy-button:hover {
    background-color: #333;
  }
  